@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

/*-----------------------------------------------------------------------------------------------------
 * AppContainer.scss
 ----------------------------------------------------------------------------------------------------*/

body {
    font-family: 'Noto Sans', sans-serif !important;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}