/*-----------------------------------------------------------------------------------------------------
 * AppFooter.scss
 ----------------------------------------------------------------------------------------------------*/

footer {
	background: rgb(43, 62, 90);

    .links {
        width: 960px;
        margin: 0 auto;
        padding: 25px 20px 15px 20px;

        ul {
            margin: 0;
            color: #af7647;
            list-style-type: disc;
            cursor: default;

            li {
                display: block;
                float: left;
                list-style-type: disc;
            }
        }

        .float-left {
            ul {
                li {
                    a {
                        color: #fff;
                        margin: 0 10px;
                        vertical-align: bottom;
                        text-decoration: none;
                        cursor: pointer;
                    }
                }

                li:before {
                    content: ' - ';
                }

                li:first-child:before {
                    content: '';
                }
            }
        }

        ul.social {
            margin: 0;
        }
    }
}

ul.social li a {
    display: block;
    width: 30px;
    height: 30px;
    margin: 0 10px 0 0;
    text-indent: -10000px;
}

footer .copyright {
	text-align: center;
    clear: both;
}

footer .copyright p {
	display: inline-block;
    color: #fff;
    font-size: 93%;
}

.clear-footer {
    display: block;
    clear: both;
    height: 0px;
    line-height: 0px;
    font-size: 0%;
    padding: 0;
    margin: 0;
}