/*-----------------------------------------------------------------------------------------------------
 * Home.scss
 ----------------------------------------------------------------------------------------------------*/

.home {
    padding-top: 621px;
}

.row {
    margin-top: -200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-top: 200px;
}

.product-container, .product-container img {
    width: 300px;
}

.product-container {
    margin: auto;
    margin-bottom: 80px;
}

.product-name {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 20px;
    font-weight: 600 !important;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 7px;
    width: 280px;
    position: absolute;
}

.product-description {
    font-size: 1em;
    margin-top: 12px;
}

.product-price {
    font-weight: 600 !important;
    color: #6a6f71;
    margin-top: 7px;
    border-top: 1px solid #A4A8AF;
    padding-top: 5px;
}