/*-----------------------------------------------------------------------------------------------------
 * NCButton.scss
 ----------------------------------------------------------------------------------------------------*/

.well {
    height: 30px;
    padding: 10px;
	font-weight: 400;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.02);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.02);
    box-shadow: 1px 1px 1px #666;
    position: relative;
    transition: all 0.2s;
    top: 0;
	width: 75px;
    margin: 10px;
    display: inline;
}

.well:hover {
	color : #337AB7;
  	top :-1px;
  	box-shadow: 3px 3px 3px #777;
}

.well img {
    margin-top: -40px;
}

.no-decoration {
  text-decoration: none;
  color: #3E363F;
  display: inline-flex;
}