/*-----------------------------------------------------------------------------------------------------
 * SneakerSlider.scss
 ----------------------------------------------------------------------------------------------------*/

.sneaker-slider {
    margin-left: auto;
	margin-right: auto;
	width: 1200px;
    height: 591px;
    margin-top: -512px;
    margin-bottom: 200px;
    padding: 0 200px;
    overflow: hidden;
}

.slick-slide img {
    width: 800px;
    height: auto;
    margin-top: -150px;
}